@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.articlenews{
    /* min-height: 25vh; */
    width: 80vw;
    display: flex;
    border: #16A2C5 solid 3px;
    border-radius: 17px;
    padding: 7px;
    padding-right: 3%; /* hedhi feha probleme*/
    gap:2vw;
}
.articlenews img{
    margin: auto 0;
    height: 30vh;
    border-radius: 10px;
    max-width: 29%;
    object-fit: cover;
}
.articlenews hr{
    border:1px solid #16A2C5;
    width: 90%;
    margin-left: 0;
}
.articlenews h3{
    font-family: roboto;
    color: grey;
    font-size: 0.9rem;
}
.articlenews p{
    font-size: 1.1rem;
}
.articlenews button{
    background-color: #16A2C5;
    color: #011E4A;
    font-size: 1.3rem;
    border: 0px;
    font-weight: bold;
padding: 1%;
}
.articlenews .btncontainer{
    display: flex;
    justify-content: right;
}