
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: #011E4A;
    margin: 0;
    font-family: "Montserrat";
    color: white;
}
.Newsdivpic {
    width: 100%;
    max-width: 100vw;
    height: 70vh;
    overflow: hidden;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    background: url(./../../Assets/07fb903e3e6b09836e785751965c929f.jpg) fixed center;
    background-size: cover; 
    
}

.Newsbox h1, .Newsbox p{
    color: #FFFFFF!important;

}

.Newsbox h1 {
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    padding-bottom: 10px; 
    display: inline-block; 
}

.Newsbox h1::after {
    content: "";
    display: block;
    background-color: #011E4A;
    width: 100%; 
    height: 4px;
    margin-top: 5px; 
}

.Newsdivpic div{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#011e4a87, #011e4ade);
}
.Newslogo{
    width: auto;
    height: 35vh;
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}
.Newsflex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    margin: 0;
    padding: 0;
    margin-top: -10vh;
    gap:10vh;
    overflow-x: hidden;
    padding-bottom: 1vw;
}
.Newsbox{
    z-index: 2;
    background-color: #16A2C5;
    width: 80vw;
    padding: 1vh;
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
    
}

.Newsbox p{
font-size: 1.2rem;}
@media(max-width:1045px){
    
    .Newsbox p{
        font-size: 1rem;}
}

@media(max-width:700px){
    
    .Newslogo{
        height: 20vh;
        margin-top: -5vh;

        
    }
    .Newsdivpic div{
        width: 100%;
        height:50vh;
    }
    .Newsdivpic {
        background-size: cover 500px;
        background-repeat: no-repeat;
        height: 50vh;
    }

    .Newsbox{
        padding-bottom: 1%;
        width: 90vw;
        
    }
    .Newsflex{

        margin-top: -15vh;
        
    }
    #scrolarticles{
        width: 100%;
    
    }
      
    
}

@media(max-width:600px){
    .Newslogo{
        height: 23vh;
    }
    .Newsbox h1 {
        font-size: 1.5rem;
    }
}

@media(max-width:400px){
    .Newsbox p{
        font-size: 0.8rem;}

        .Newsbox{
            width: 90%;
            padding: 1vh;
            padding-left: 5%;
            padding-right: 5%;
            padding-top: 2vw;
            padding-bottom: 1%;

            
        }
        .Newslogo{
            height: 20vh;
        }
        .Newsbox h1 {
            font-size: 1.3rem;
        }
}
@media(max-width:320px){
        .Newsbox h1 {
            font-size: 1.2rem;
        }
}

#numbers p{
    color: #FFFFFF!important;
}



#flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    margin: 0;
    padding: 0;
    margin-top: 10vh;
    gap:10vh;
    overflow-x: hidden;
}


#curated{
    display: flex;
    gap:7vh;
    flex-direction: column;
}
#scrolarticles{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 1.1rem;
    font-weight: 600;

}
#scrolarticles p{
    border: #16A2C5 2px solid;
    border-radius: 10px;
    padding: 5px;
    width: 30px;
    text-align: center;
}
#numbers{
    display: flex;
    gap: 5px;
    justify-content: space-between;

}

@media screen and (max-width:700px){
 
    #scrolarticles{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        font-size: 1.1rem;
        font-weight: 600;
    
    }
    
}

@media screen and (max-width:350px){
 
    #scrolarticles p{
    
        width: 25px;
    }
    #scrolarticles{
    
        font-size: 0.9rem;
        
    
    }
    
}
