.cardcontainer {
    display: flex;
    flex-direction: column;
    background-image:url('./assets/image1.png');
    background-size: cover;
   
    border:solid 3px rgba(22, 162, 197, 1);
    border-radius: 10px;
    overflow: hidden;
    color: white;
    height: 289px;
    width: 24%; /* Adjust to your preference */
  }
  .titre{
    font-weight: 500;
    font-size: 25px;
    position: relative;
    top:30px;
    left:10px;
  }
  .cardcontent {
    padding-top: 100px; 
  }
  .carddate {
    position: relative;
    right:65px;
    bottom: 8.7px;
   
    font-weight: 700;
    font-size: 18px;
  }
  .cardbutton {
    background-color:rgba(1, 30, 74, 0.56);
    width: 120%;
    color: white;
    border:solid 3px rgba(22, 162, 197, 1);
    margin-bottom: 10px;
    padding-left: 70px;
    height: 200px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    border-right: none;
    border-left: none;
    border-bottom: none;
    position: relative;
    top:40px; 
  }
  .cardbutton:hover {
    background-color: #005fa3;
  }
  .buton{
    background-color:rgba(1, 30, 74, 0);
    border: none;
    color: white;
    position: relative;
    left:40px;
    top: 19px;
    font-weight: 700;
    font-size: 18px;
  }
  @media(max-width:1369px){
    .cardcontainer {
      display: flex;
      flex-direction: column;
      background-image:url('./assets/image1.png');
      background-size: cover;

      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 289px;
      width: 25%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 25px;
      position: relative;
      top:30px;
      left:2%;
      padding_right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:65px;
      bottom: 8.7px;
     
      font-weight: 700;
      font-size: 18px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:40px;  
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:40px;
      top: 19px;
      font-weight: 700;
      font-size: 18px;
    }
  }
  @media(max-width:1321px){
    .cardcontainer {
      display: flex;
      flex-direction: column;
      background-image:url('./assets/image1.png');
      background-size: cover;

      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 289px;
      width: 25%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 23px;
      position: relative;
      top:30px;
      left:2%;
      padding_right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:65px;
      bottom: 7px;
     
      font-weight: 700;
      font-size: 16px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:40px;  
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:40px;
      top:20px;
      font-weight: 700;
      font-size: 16px;
    }
  }
  @media(max-width:1255px){
    .cardcontainer {
      display: flex;
      flex-direction: column;
      background-image:url('./assets/image1.png');
      background-size: cover;

      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 270px;
      width: 26%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 23px;
      position: relative;
      top:30px;
      left:2%;
      padding_right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:65px;
      bottom: 7px;
     
      font-weight: 700;
      font-size: 16px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:40px;  
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:40px;
      top:18.5px;
      font-weight: 700;
      font-size: 16px;
    }
  }
  @media(max-width:1181px){
    .cardcontainer {
      display: flex;
      flex-direction: column;
      background-image:url('./assets/image1.png');
      background-size: cover;

      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 270px;
      width: 27%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 22px;
      position: relative;
      top:30px;
      left:2%;
      padding_right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:65px;
      bottom: 7px;
     
      font-weight: 700;
      font-size: 16px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:40px;  
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:40px;
      top:18.5px;
      font-weight: 700;
      font-size: 16px;
    }
  }
  @media(max-width:1100px){
    .cardcontainer {
      display: flex;
      flex-direction: column;
      background-image:url('./assets/image1.png');
      background-size: cover;

      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 270px;
      width: 29%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 22px;
      position: relative;
      top:30px;
      left:2%;
      padding_right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:65px;
      bottom: 7px;
     
      font-weight: 700;
      font-size: 16px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:40px;  
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:40px;
      top:18.5px;
      font-weight: 700;
      font-size: 16px;
    }
  }
  @media(max-width:1181px){
    .cardcontainer {
      display: flex;
      flex-direction: column;
      background-image:url('./assets/image1.png');
      background-size: cover;

      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 270px;
      width: 27%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 22px;
      position: relative;
      top:30px;
      left:2%;
      padding_right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:65px;
      bottom: 7px;
     
      font-weight: 700;
      font-size: 16px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:40px;  
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:40px;
      top:18.5px;
      font-weight: 700;
      font-size: 16px;
    }
  }
  @media(max-width:1012px){
    .cardcontainer {
      display: flex;
      flex-direction: column;
      background-image:url('./assets/image1.png');
      background-size: cover;

      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 270px;
      width: 31%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 22px;
      position: relative;
      top:30px;
      left:2%;
      padding_right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:65px;
      bottom: 7px;
     
      font-weight: 700;
      font-size: 16px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:40px;  
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:40px;
      top:18.5px;
      font-weight: 700;
      font-size: 16px;
    }
  }
  @media(max-width:967px){
    .cardcontainer {
      display: flex;
      flex-direction: column;
      background-image:url('./assets/image1.png');
      background-size: cover;

      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 270px;
      width: 35%; /* Adjust to your preference */
    }
  }
  @media(max-width:967px){
    .cardcontainer {
      display: flex;
      flex-direction: column;
      background-image:url('./assets/image1.png');
      background-size: cover;

      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 270px;
      width: 35%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 20px;
      position: relative;
      top:30px;
      left:2%;
      padding_right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:65px;
      bottom: 7px;
     
      font-weight: 700;
      font-size: 15px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:40px;  
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:30px;
      top:18.5px;
      font-weight: 700;
      font-size: 15px;
    }
  }
  @media(max-width:858px){
    .cardcontainer {
      display: flex;
      flex-direction: column;
      background-image:url('./assets/image1.png');
      background-size: cover;

      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 255px;
      width: 37%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 19px;
      position: relative;
      top:30px;
      left:2%;
      padding_right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:65px;
      bottom: 7px;
     
      font-weight: 700;
      font-size: 15px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:30px;  
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:15px;
      top:16px;
      font-weight: 700;
      font-size: 15px;
    }
  }
  @media(max-width:811px){
    .cardcontainer {
      display: flex;
      flex-direction: column;
      background-image:url('./assets/image1.png');
      background-size: cover;
      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 260px;
      width: 47%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 20px;
      position: relative;
      top:30px;
      left:2%;
      padding_right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:17%;
      bottom: 7px;
     
      font-weight: 700;
      font-size: 17px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:30px;  
      
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:14%;
      top:18.7px;
      font-weight: 700;
      font-size: 17px;
    }
  }
  @media(max-width:714px){
    .cardcontainer {
      display: flex;
      flex-direction: column;
      background-image:url('./assets/image1.png');
      background-size: cover;
      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 260px;
      width: 47%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 20px;
      position: relative;
      top:30px;
      left:2%;
      padding_right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:20%;
      bottom: 7px;
     
      font-weight: 700;
      font-size: 17px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:30px;  
      
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:13%;
      top:18.7px;
      font-weight: 700;
      font-size: 17px;
    }
  }
  @media(max-width:631px){
    .cardcontainer {
      display: flex;
      flex-direction: column;
      background-image:url('./assets/image1.png');
      background-size: cover;
      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 260px;
      width: 55%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 20px;
      position: relative;
      top:30px;
      left:2%;
      padding_right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:20%;
      bottom: 7px;
     
      font-weight: 700;
      font-size: 17px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:30px;  
      
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:13%;
      top:18.7px;
      font-weight: 700;
      font-size: 17px;
    }
  }
  @media(max-width:553px){
    .cardcontainer {
      display: flex;
      flex-direction: column;
      background-image:url('./assets/image1.png');
      background-size: cover;
      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 260px;
      width: 60%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 20px;
      position: relative;
      top:30px;
      left:2%;
      padding_right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:20%;
      bottom: 7px;
     
      font-weight: 700;
      font-size: 17px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:30px;  
      
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:12%;
      top:18.7px;
      font-weight: 700;
      font-size: 17px;
    }
  }
  @media(max-width:493px){
    .cardcontainer {
      display: flex;
      flex-direction: column;
      background-image:url('./assets/image1.png');
      background-size: cover;
      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 260px;
      width: 65%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 20px;
      position: relative;
      top:30px;
      left:2%;
      padding_right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:20%;
      bottom: 7px;
     
      font-weight: 700;
      font-size: 17px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:30px;  
      
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:12%;
      top:18.7px;
      font-weight: 700;
      font-size: 17px;
    }
  }
  @media(max-width:454px){
    .cardcontainer {
      display: flex;
      flex-direction: column;
      background-image:url('./assets/image1.png');
      background-size: cover;
      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 260px;
      width: 70%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 20px;
      position: relative;
      top:30px;
      left:2%;
      padding_right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:22%;
      bottom: 7px;
     
      font-weight: 700;
      font-size: 17px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:30px;  
      
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:12%;
      top:18.7px;
      font-weight: 700;
      font-size: 17px;
    }
  }
  @media(max-width:422px){
    .cardcontainer {
      display: flex;
      flex-direction: column;
      background-image:url('./assets/image1.png');
      background-size: cover;
      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 260px;
      width: 75%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 20px;
      position: relative;
      top:30px;
      left:2%;
      padding_right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:22%;
      bottom: 7px;
     
      font-weight: 700;
      font-size: 17px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:30px;  
      
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:12%;
      top:19px;
      font-weight: 700;
      font-size: 17px;
    }
  }
  @media(max-width:394px){
    .cardcontainer {
      display: flex;
      flex-direction: column;
      background-image:url('./assets/image1.png');
      background-size: cover;
      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 260px;
      width: 80%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 20px;
      position: relative;
      top:30px;
      left:2%;
      padding_right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:22%;
      bottom: 7px;
     
      font-weight: 700;
      font-size: 17px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:30px;  
      
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:12%;
      top:19px;
      font-weight: 700;
      font-size: 17px;
    }
  }
  @media(max-width:368px){
    .cardcontainer {
      display: flex;
      flex-direction: column;
      background-image:url('./assets/image1.png');
      background-size: cover;
      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 260px;
      width: 80%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 18px;
      position: relative;
      top:30px;
      left:2%;
      padding_right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:23%;
      bottom: 6px;
     
      font-weight: 700;
      font-size: 16px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:30px;  
      
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:9%;
      top:19px;
      font-weight: 700;
      font-size: 16px;
    }
  }
  @media(max-width:341px){
    .cardcontainer {
      display: flex;
      flex-direction: column;
      background-image:url('./assets/image1.png');
      background-size: cover;
      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 260px;
      width: 85%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 18px;
      position: relative;
      top:30px;
      left:2%;
      padding_right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:25%;
      bottom: 6px;
     
      font-weight: 700;
      font-size: 16px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:30px;  
      
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:11%;
      top:19px;
      font-weight: 700;
      font-size: 16px;
    }
  }
  @media(max-width:318px){
    .cardcontainer {
      display: flex;
      flex-direction: column;
      background-image:url('./assets/image1.png');
      background-size: cover;
      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 260px;
      width: 90%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 18px;
      position: relative;
      top:30px;
      left:2%;
      padding_right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:25%;
      bottom: 6px;
     
      font-weight: 700;
      font-size: 16px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:30px;  
      
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:11%;
      top:19px;
      font-weight: 700;
      font-size: 16px;
    }
  }
  @media(max-width:300px){
    .cardcontainer {
      display: flex;
      flex-direction: column;
      background-image:url('./assets/image1.png');
      background-size: cover;
      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 260px;
      width: 95%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 18px;
      position: relative;
      top:30px;
      left:2%;
      padding_right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:25%;
      bottom: 6px;
     
      font-weight: 700;
      font-size: 16px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:30px;  
      
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:11%;
      top:19px;
      font-weight: 700;
      font-size: 16px;
    }
  }