.cardcontainer {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    border:solid 3px rgba(22, 162, 197, 1);
    border-radius: 10px;
    overflow: hidden;
    color: white;
    height: 289px;
    width: 24%; /* Adjust to your preference */
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 30, 74, 0.5);
    border-radius: 10px; /* To match the border radius of cardcontainer */
    z-index: 1;
  }

  .cardcontainer:hover{
scale: 1.03;
  }

  .titre {
    font-weight: 500;
    font-size: 25px;
    position: relative;
    top: 30px;
    left: 10px;
    z-index: 2; /* Ensure text is above overlay */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .cardcontent {
    padding-top: 100px; 
  }
  .carddate {
    position: relative;
    right:55px;
    bottom: 8.7px;
   
    font-weight: 700;
    font-size: 18px;
  }
  .cardbutton {
    background-color:rgba(1, 30, 74, 0.56);
    width: 120%;
    color: white;
    border:solid 3px rgba(22, 162, 197, 1);
    margin-bottom: 10px;
    padding-left: 70px;
    height: 200px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    border-right: none;
    border-left: none;
    border-bottom: none;
    position: relative;
    top:40px; 
  }
  .cardbutton:hover {
    background-color: #005fa3;
  }
  .buton{
    background-color:rgba(1, 30, 74, 0);
    border: none;
    color: white;
    position: relative;
    left:40px;
    top: 19px;
    font-weight: 700;
    font-size: 18px;
    z-index: 100000;

  }
  @media(max-width:1369px){
    .cardcontainer {
      display: flex;
      flex-direction: column;
      background-size: cover;

      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 289px;
      width: 25%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 25px;
      position: relative;
      top:30px;
      left:2%;
      padding-right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:65px;
      bottom: 8.7px;
     
      font-weight: 700;
      font-size: 18px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:40px;  
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:40px;
      top: 19px;
      font-weight: 700;
      font-size: 18px;
    }
  }
  @media(max-width:1321px){
    .cardcontainer {
      display: flex;
      flex-direction: column;

      background-size: cover;

      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 289px;
      width: 25%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 23px;
      position: relative;
      top:30px;
      left:2%;
      padding-right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:65px;
      bottom: 7px;
     
      font-weight: 700;
      font-size: 16px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:40px;  
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:40px;
      top:20px;
      font-weight: 700;
      font-size: 16px;
    }
  }
  @media(max-width:1255px){
    .cardcontainer {
      display: flex;
      flex-direction: column;

      background-size: cover;

      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 270px;
      width: 26%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 23px;
      position: relative;
      top:30px;
      left:2%;
      padding-right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:65px;
      bottom: 7px;
     
      font-weight: 700;
      font-size: 16px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:40px;  
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:40px;
      top:18.5px;
      font-weight: 700;
      font-size: 16px;
    }
  }
  @media(max-width:1181px){
    .cardcontainer {
      display: flex;
      flex-direction: column;

      background-size: cover;

      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 270px;
      width: 28%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 22px;
      position: relative;
      top:30px;
      left:2%;
      padding-right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:65px;
      bottom: 7px;
     
      font-weight: 700;
      font-size: 16px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:40px;  
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:40px;
      top:18.5px;
      font-weight: 700;
      font-size: 16px;
    }
  }

  @media(max-width:1100px){
    .cardcontainer {
      display: flex;
      flex-direction: column;

      background-size: cover;

      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 270px;
      width: 29%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 22px;
      position: relative;
      top:30px;
      left:2%;
      padding-right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:65px;
      bottom: 7px;
     
      font-weight: 700;
      font-size: 16px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:40px;  
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:40px;
      top:18.5px;
      font-weight: 700;
      font-size: 16px;
    }
  }

  @media(max-width:1012px){
    .cardcontainer {
      display: flex;
      flex-direction: column;

      background-size: cover;

      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 250px;
      width: 28%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 22px;
      position: relative;
      top:30px;
      left:2%;
      padding-right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:65px;
      bottom: 16px;
     
      font-weight: 700;
      font-size: 16px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:40px;  
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:30px;
      top:9px;
      font-weight: 700;
      font-size: 16px;
    }
  }
  @media(max-width:967px){
    .cardcontainer {
      display: flex;
      flex-direction: column;

      background-size: cover;

      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      /* height: 270px; */
      width: 30%; /* Adjust to your preference */
      
    }
    .titre{
      font-size: 20px;
    }
    .buton{
      left:20px;
      font-size: 16px;
    }
  }


  @media(max-width:811px){
    .cardcontainer {
      display: flex;
      flex-direction: column;

      background-size: cover;
      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 300px;
      width: 70%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 25px;
      position: relative;
      top:60px;
      left:2%;
      padding-right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: absolute;
      left:1vw; 
      bottom: 36px;
     
      font-weight: 700;
      font-size: 17px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 100%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      height: 100px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:60px;  
      
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: absolute;
      left:80%;
      top:18.7px;
      font-weight: 700;
      font-size: 17px;
      white-space: nowrap;
    }
  }
  @media(max-width:670px){
  
  .buton{
    left:75%;
  }
  }
  @media(max-width:540px){
  
    .buton{
      left:73%;
    }
    }

  @media(max-width:493px){
    .cardcontainer {
      display: flex;
      flex-direction: column;

      background-size: cover;
      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 260px;
      width: 65%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 20px;
      position: relative;
      top:30px;
      left:2%;
      padding-right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      left:-20%;
      bottom: 7px;
     
      font-weight: 700;
      font-size: 17px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:30px;  
      
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:12%;
      top:18.7px;
      font-weight: 700;
      font-size: 17px;
    }
  }
  @media(max-width:454px){
    .cardcontainer {
      display: flex;
      flex-direction: column;

      background-size: cover;
      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 260px;
      width: 70%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 20px;
      position: relative;
      top:30px;
      left:2%;
      padding-right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:22%;
      bottom: 7px;
     
      font-weight: 700;
      font-size: 17px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:30px;  
      
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:12%;
      top:18.7px;
      font-weight: 700;
      font-size: 17px;
    }
  }
  @media(max-width:422px){
    .cardcontainer {
      display: flex;
      flex-direction: column;

      background-size: cover;
      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 260px;
      width: 75%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 20px;
      position: relative;
      top:30px;
      left:2%;
      padding-right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:22%;
      bottom: 7px;
     
      font-weight: 700;
      font-size: 17px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:30px;  
      
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:12%;
      top:19px;
      font-weight: 700;
      font-size: 17px;
    }
  }
  @media(max-width:394px){
    .cardcontainer {
      display: flex;
      flex-direction: column;

      background-size: cover;
      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 260px;
      width: 80%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 20px;
      position: relative;
      top:30px;
      left:2%;
      padding-right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      right:22%;
      bottom: 7px;
     
      font-weight: 700;
      font-size: 17px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:30px;  
      
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:12%;
      top:19px;
      font-weight: 700;
      font-size: 17px;
    }
  }
  @media(max-width:368px){
    
    
    .carddate {
      position: relative;
      right:23%;
      bottom: 6px;
     
      font-weight: 700;
      font-size: 16px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:30px;  
      
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:9%;
      top:19px;
      font-weight: 700;
      font-size: 16px;
    }
  }
  @media(max-width:341px){
    .cardcontainer {
      display: flex;
      flex-direction: column;

      background-size: cover;
      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 260px;
      width: 85%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 18px;
      position: relative;
      top:30px;
      left:2%;
      padding-right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }
    .carddate {
      position: relative;
      left:-23%;
      bottom: 14px;
     
      font-weight: 700;
      font-size: 16px;
    }
    .cardbutton {
      background-color:rgba(1, 30, 74, 0.56);
      width: 120%;
      color: white;
      border:solid 3px rgba(22, 162, 197, 1);
      margin-bottom: 10px;
      padding-left: 70px;
      height: 200px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      display: flex;
      flex-direction: column;
      border-right: none;
      border-left: none;
      border-bottom: none;
      position: relative;
      top:50px;  
      
    }
    .cardbutton:hover {
      background-color: #005fa3;
    }
    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:11%;
      top:11px;
      font-weight: 700;
      font-size: 16px;
    }
  }

  @media(max-width:300px){
    .cardcontainer {
      display: flex;
      flex-direction: column;

      background-size: cover;
      border:solid 3px rgba(22, 162, 197, 1);
      border-radius: 10px;
      overflow: hidden;
      color: white;
      height: 260px;
      width: 90%; /* Adjust to your preference */
    }
    .titre{
      font-weight: 500;
      font-size: 18px;
      position: relative;
      top:30px;
      left:2%;
      padding-right:2% ;
    }
    .cardcontent {
      padding-top: 100px;
      
    }

    .buton{
      background-color:rgba(1, 30, 74, 0);
      border: none;
      color: white;
      position: relative;
      left:11%;
      top:11px;
      font-weight: 700;
      font-size: 16px;
    }
    .carddate {
      position: relative;
      left:-28%;
      bottom: 14px;
     
      font-weight: 700;
      font-size: 16px;
    }

  }