
.container{
  display: flex;
  flex-direction: column;
  gap: 6vw;
  position:relative;
}
.container h2{
    color:#FC9601;
    font-size: 5vw;
    margin-left: 9vw;
}
/*gallery slider*/
.galerryslider {
  display: flex;
  justify-content: center;
  align-items: center;

}
.galerryslider img{
  margin-top: -3vw;
  border: 5px solid #16A2C5;
  border-radius: 20px;
  width:80%;
}
.ponct{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vw;
  margin-bottom: 3vw;
}
.ponct img{
  width : 1.5vw;
}
.slidg{
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  justify-content: center;
  align-items: center;
}
