*{
    background-color: #011E4A;
    font-family: "Montserrat";
}
.topp img{
    width : 100%;
    position: relative;
}
.recapropos{
    display: flex;
    justify-content: center;
    margin-top: -120px;
}
.bg1{
    position: relative;
    background-size:contain;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
}
.recapropos h1 , .recapropos p{
    position: absolute;
    color:  #FFFFFF;
    background-color: transparent;
    z-index: 1; 
}
.recapropos h1{
     right:65%;
     font-size: 70px;
     Line-height: 85.33px;
}
.line{
    border-top: 7px solid #011E4A;
    position: absolute;
    background-color: transparent;
    z-index: 1;
    width: 23%; 
    top: 108%; 
    right: 64%; 
}

.recapropos p{
    right:17%;
    left:13%;
    top:108%;
    font-size: 35px;
    line-height: 43.88px;
    
}
.vispic{
    display: flex;
    flex-direction: row;
}
.rect2{
    position: relative;
    background-size:contain;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: transparent;
    margin-left: 114px;
}

  
.text h1 , .text p{
    color: #FFFFFF;
}
.text h1{
    
    font-size: 60px;
    line-height: 70.31px;
    padding-left: 30px;
    padding-right: 30px;
}
.text p{
    font-size: 36px;
    line-height: 43.88px;
    padding-left: 30px;
    padding-right: 30px;
}
.text{
    
    margin-left: 60px;
    margin-right: 100px;
    border: 5px solid #16A2C5;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
}
.text2{
    margin-left: 114px;
    border: 5px solid #16A2C5;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
}
.text2 h1 , .text2 p{
    color: #FFFFFF;
}
.text2 h1{
    font-size: 60px;
    line-height: 70.31px;
    padding-left: 30px;
    padding-right: 30px;
}
.text2 p{
    font-size: 36px;
    line-height: 43.88px;
    padding-left: 30px;
    padding-right: 30px;
}
.rect3{
    position: relative;
    background-size:contain;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: transparent;
}

.recpic2{
    margin-left: 60px;
    margin-right: 100px;
}
h2{
    color:#FC9601;
    font-size: 80px;
    line-height: 93.75px;
    margin-left: 114px;
}
.values{
    display: flex;
    flex-direction: row;
}
.img1:hover,.img2:hover,.img3:hover {
    background-color: #16A2C5;
}
.values div img {
    transition: opacity 0.5s ease;
}

.values div:hover img {
    opacity: 0;
}

.values div h5.addedp {
    display: none;
}

.values div.img1:hover h5.addedp, .values div.img2:hover h5.addedp {
    display: block;
    background-color: #16A2C5;
    margin-top: 10px;
}
.values div.img3:hover h5.addedp {
    display: block;
    background-color: #16A2C5;
    margin-top: 20px;
}
.values div.img1:hover p,.values div.img2:hover p {
    margin-top: -260px;
    display: block;
    background-color: #16A2C5;
}
.values div.img3:hover p {
    margin-top: -240px;
    display: block;
    background-color: #16A2C5;
}
.values div.img1:hover , .values div.img2:hover , .values div.img3:hover{
    padding-left: 20px;
   padding-right: 20px;
}

.addedp{
    font-size: 32px;
    line-height: 39.01px;
    color:#FFFFFF;
}
.img1 p, .img2 p, .img3 p{
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-size: 48px;
    line-height: 58.51px;
    font-weight: bold;
    text-align: center;
    
}
.img1,.img2,.img3{
    border: 5px solid #16A2C5;
    border-radius: 12px;
}
.img1{
    margin-left: 50px;
    padding-left: 50px;
   padding-right: 50px;
}
.img2{
    margin-left: 120px;
    padding-left: 50px;
   padding-right: 50px;
}
.img3{
    margin-left: 120px;
    margin-right: 50px;
    padding-left: 50px;
   padding-right: 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.img3 img{
    margin-left: 17px;
    width:85%;
    align-items: center;
}
.img3 p{
    margin-top:20px;
    margin-bottom: -20px;
}
.img2 p{
    margin-top:-3px;
    margin-bottom: 15px;
}
.img1 p{
    margin-top:10px;
    margin-bottom: -1px;
}

.act1 img:hover, .act2 img:hover , .act3 img:hover {
    background-color: #16A2C5;
}
.activities{
    display: flex;
    flex-direction: column;
    margin-left: 114px;
}
.act1 img{
    width:66%;
    margin-bottom: 30px;
    
}
.act1 img, .act3 img{
    border: 5px solid #16A2C5;
    border-radius: 12px;
    padding: 30px 30px 30px 30px;
}
.act2 img{
    border: 5px solid #16A2C5;
    border-radius: 12px;
    padding: 30px 40px 30px 30px;
    margin-bottom: 30px;
}
.nosactivities{
    display: flex;
    flex-direction: row;
}
.description{
    margin-left: 50px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #16A2C5;
    border-radius: 12px;
    padding: 30px 30px 30px 30px;

}
.description img{
    width:20%;
}
.description h3{
    color : #FFFFFF;
    font-size: 52px;
    line-height: 63.39px;
}
.description p{
    color : #FFFFFF;
    font-size: 32px;
    line-height: 39.01px;
}
.line1{
    border-top: 5px solid #16A2C5;
    width:97%;
}
.positions1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.position h3, .position h4{
  font-size: 32px;
  line-height: 39.01px;
  text-align: center;
  color: #FFFFFF;
}
.position h4{
  margin-top: -25px;
}
.position p{
  margin-top: -25px;
  color:#16A2C5;
  font-size: 32px;
  line-height: 39.01px;
  text-align: center;
  font-weight: bold;
}
.galerryslider {
  display: flex;
  justify-content: center;
  
}
.galerryslider img{
  border: 5px solid #16A2C5;
  border-radius: 20px;
}
.ponct{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}