.act1 img:hover, .act2 img:hover, .act3 img:hover {
    background-color: #16A2C5;
}

.activities {
    display: flex;
    flex-direction: column;
    gap: 2vw; 
}

.act1 img, .act2 img, .act3 img {
    width: 10vw; 
    height: auto;
    border: 3px solid #16A2C5; 
    border-radius: 12px;
    padding: 23%; 
    cursor: pointer;
}

.nosactivities {
    width:80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 2vw; 
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #16A2C5; 
    border-radius: 12px;
    padding: 20px; 
}

.description img {
    width: 10vw; 
    height: auto;
}

.description h3 {
    color: #FFFFFF;
    font-size: 2vw; 
}

.description p {
    color: #FFFFFF;
    font-size: 1.75vw; 
    margin-bottom: 0;
}

.line1 {
    border-top: 3px solid #16A2C5; 
    width: 90%; 
}
@media (max-width: 1050px) {
.act1 img, .act2 img, .act3 img {
    width: 12vw; 
    padding: 20%;
}

}

@media (max-width: 700px) {
    .nosactivities {
        width:90%;
        margin-left: 5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
        gap: 2vw; 
    }  
    .act1 img, .act2 img, .act3 img {
        width: 14vw; 
        padding: 20%;
    }
    .description h3 {
        font-size: 3vw; 
    }
    .description p {
        font-size: 2vw; 
    }
}

@media (max-width: 600px) {
    .nosactivities {
        width:90%;
        margin-left: 5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
        gap: 2vw; 
        align-items: center;

    }  
    .act1 img, .act2 img, .act3 img {
        width: 18vw; 
        padding: 20%;
    }
    .description h3 {
        font-size: 3.5vw;
        text-align: center;
    }
    .description p {
        font-size: 2.5vw; 
    }
    .description img {
        width: 12vw; 
        height: auto;
    }
}



@media (max-width: 400px) {
    .nosactivities {
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:20px;
    }

    .activities {
        width: 100%;
        flex-direction: row;
        gap: 5%;
        justify-content: center;

    }

    .act1 img, .act2 img, .act3 img {
        width: 100%; 
        height: 100%;
        border: 3px solid #16A2C5;
        padding: 15%;
    }

    .act1, .act2, .act3 {
        width: 20vw;
        height: 20vw;
    }




    .description img {
        width: 20vw; 
    }

    .description h3 {
        font-size: 5vw;
    }

    .description p {
        font-size: 3.5vw; 
    }
}
@media (max-width: 300px) {

.description img {
    width: 22vw; 
}

.description h3 {
    font-size: 5.5vw;
}

.description p {
    font-size: 4vw; 
}
}



