/*for positions*/
.positions1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 1.5vw;
    gap : 0.25vw;
}
.positions2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 1.5vw;
  align-items: center;
  gap : 0vw;
}
.position img{
  width : 20vw;
}
.position h3, .position h4{
  font-size: 2vw;
  text-align: center;
  color: #FFFFFF;
  margin-top: 0.5vw;
}
.position p{
  margin-top: -2vw;
  color:#16A2C5;
  font-size: 2vw;
  text-align: center;
  font-weight: bold;
  margin-top: 0.5vw;
}
.containerb{
  display: flex;
  flex-direction: column;
  gap: 6vw;
}
.containerbresp{
  display:none;
}

@media (max-width:800px){
  .containerbresp{
    display: flex;
    flex-direction: column;
    gap: 4vw;
  }
  .containerb{
    display:none;
  }
  .position img{
    width : 30vw;
  }
}