/*part two*/
.container{
    display: flex;
    flex-direction: column;
    gap: 6vw;
  }
.vispic{
    display: flex;
    flex-direction: row;
}
.rect2{
    position: relative;
    background-size:contain;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: transparent;
    margin-left: 160px;
}

  
.text h1 , .text p{
    color: #FFFFFF;
}
.text h1{
    font-size: 60px;
    line-height: 70.31px;
    padding-left: 30px;
    padding-right: 30px;
}
.text p{
    font-size: 36px;
    line-height: 43.88px;
    padding-left: 30px;
    /*padding-right: 5px;*/
}
.text{
    margin-left: 60px;
    margin-right: 156px;
    border: 3.5px solid #16A2C5;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
}
.text2{
    margin-left: 160px;
    border: 3.5px solid #16A2C5;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
}
.text2 h1 , .text2 p{
    color: #FFFFFF;
}
.text2 h1{
    font-size: 60px;
    line-height: 70.31px;
    padding-left: 30px;
    padding-right: 30px;
}
.text2 p{
    font-size: 36px;
    line-height: 43.88px;
    padding-left: 30px;
    /*padding-right: 30px;*/
}
.rect3{
    position: relative;
    background-size:contain;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: transparent;
}

.recpic2{
    margin-left: 60px;
    margin-right: 156px;
}
@media (max-width:1289px){
    .text h1{
        font-size: 58px;
    }
    .text p{
        font-size: 34px;
        line-height: 43.88px;
    }
    .text2 h1{
        font-size: 58px;
    }
    .text2 p{
        font-size: 34px;
        line-height: 43.88px;
    }
}
@media (max-width:1289px){
    .text h1{
        font-size: 56px;
    }
    .text p{
        font-size: 32px;
        line-height: 42px;
    }
    .text2 h1{
        font-size: 56px;
    }
    .text2 p{
        font-size: 32px;
        line-height: 42px;
    }
}
@media (max-width:1229px){
    .text h1{
        font-size: 54px;
    }
    .text p{
        font-size: 30px;
        line-height: 42px;
    }
    .text2 h1{
        font-size: 54px;
    }
    .text2 p{
        font-size: 30px;
        line-height: 42px;
    }
}
@media (max-width:1198px){
    .text h1{
        font-size: 52px;
    }
    .text p{
        font-size: 28px;
        line-height: 42px;
    }
    .text2 h1{
        font-size: 52px;
    }
    .text2 p{
        font-size: 28px;
        line-height: 42px;
    }
}
@media (max-width:1168px){
    .text h1{
        font-size: 50px;
    }
    .text p{
        margin-top: -20px;
        font-size: 26px;
        line-height: 42px;
    }
    .text2 h1{
        font-size: 50px;
    }
    .text2 p{
        margin-top: -20px;
        font-size: 26px;
        line-height: 42px;
    }
}
@media (max-width:1137px){
    .text h1{
        margin-top: -15px;
        font-size: 48px;
    }
    .text p{
        margin-top: -20px;
        font-size: 24px;
        line-height: 40px;
    }
    .text2 h1{
        margin-top: -15px;
        font-size: 48px;
    }
    .text2 p{
        margin-top: -20px;
        font-size: 24px;
        line-height: 40px;
    }
}
@media (max-width:1077px){
    .text h1{
        margin-top: -15px;
        font-size: 45px;
    }
    .text p{
        margin-top: -20px;
        font-size: 22px;
        line-height: 38px;
    }
    .text2 h1{
        margin-top: -15px;
        font-size: 45px;
    }
    .text2 p{
        margin-top: -20px;
        font-size: 22px;
        line-height: 38px;
    }
}
@media (max-width:1058px){
    .text h1{
        margin-top: -15px;
        font-size: 42px;
    }
    .text p{
        margin-top: -20px;
        font-size: 20px;
        line-height: 38px;
    }
    .text2 h1{
        margin-top: -15px;
        font-size: 42px;
    }
    .text2 p{
        margin-top: -20px;
        font-size: 20px;
        line-height: 38px;
    }
}
@media (max-width:1014px){
    .text h1 , .text2 h1{
        margin-top: -15px;
        font-size: 38px;
    }
    .text p , .text2 p{
        margin-top: -20px;
        font-size: 20px;
        line-height: 36px;
    }
}
@media (max-width:1040px){
    .text h1 , .text2 h1{
        margin-top: -15px;
        font-size: 36px;
    }
    .text p , .text2 p{
        margin-top: -38px;
        font-size: 20px;
        line-height: 36px;
    }
}
@media (max-width:1001px){
    .text h1 , .text2 h1{
        margin-top: -15px;
        font-size: 34px;
    }
    .text p , .text2 p{
        margin-top: -38px;
        font-size: 19px;
        line-height: 34px;
    }
}
@media (max-width:989px){
    .text h1 , .text2 h1{
        margin-top: -15px;
        font-size: 32px;
    }
    .text p , .text2 p{
        margin-top: -38px;
        font-size: 19px;
        line-height: 34px;
    }
}
@media (max-width:977px){
    .text h1 , .text2 h1{
        margin-top: -15px;
        font-size: 32px;
    }
    .text p , .text2 p{
        margin-top: -38px;
        font-size: 19px;
        line-height: 34px;
    }
    .rect2 img , .rect3 img{
        width:30vw;
    }
}
@media (max-width:953px){
    .text h1 , .text2 h1{
        margin-top: -28px;
        font-size: 30px;
    }
    .text p , .text2 p{
        margin-top: -38px;
        font-size: 18px;
        line-height: 32px;
    }
    .rect2 img , .rect3 img{
        width:22vw;
    }
}
@media (max-width:907px){
    .text h1 , .text2 h1{
        margin-top: -35px;
        font-size: 28px;
    }
    .text p , .text2 p{
        margin-top: -48px;
        font-size: 16px;
        line-height: 30px;
    }
    .rect2 img , .rect3 img{
        width:20vw;
    }
}
@media (max-width:847px){
    .text h1 , .text2 h1{
        margin-top: -38px;
        font-size: 25px;
    }
    .text p , .text2 p{
        margin-top: -57px;
        font-size: 14px;
        line-height: 27px;
    }
    .rect2 img , .rect3 img{
        width:19vw;
    }
}
@media (max-width:799px){
    .text h1 , .text2 h1{
        margin-top: -40px;
        font-size: 25px;
    }
    .text p , .text2 p{
        margin-top: -57px;
        font-size: 14px;
        line-height: 27px;
    }
    .rect2 img , .rect3 img{
        width:19vw;
    }
    .recpic2 , .text{
        margin-right: 146px;
    }
    .rect2, .text2{
        margin-left: 150px;
    }
}
@media (max-width:774px){
    .text h1 , .text2 h1{
        margin-top: -39px;
        font-size: 23px;
    }
    .text p , .text2 p{
        margin-top: -57px;
        font-size: 14px;
        line-height: 25px;
    }
    .rect2 img , .rect3 img{
        width:19vw;
    }
    .recpic2 , .text{
        margin-right: 106px;
    }
    .rect2, .text2{
        margin-left: 110px;
    }
}
@media (max-width:676px){
    .text h1 , .text2 h1{
        margin-top: -39px;
        font-size: 21px;
    }
    .text p , .text2 p{
        margin-top: -57px;
        font-size: 12px;
        line-height: 23px;
    }
    .rect2 img , .rect3 img{
        width:19vw;
    }
    .recpic2 , .text{
        margin-right: 86px;
    }
    .rect2, .text2{
        margin-left: 90px;
    }
    .recpic2{
        margin-left: 40px;
    }
    .text{
        margin-left: 40px;
    }
  
}
@media (max-width:642px){
    .text h1 , .text2 h1{
        margin-top: -39px;
        font-size: 19px;
    }
    .text p , .text2 p{
        margin-top: -59px;
        font-size: 10px;
        line-height: 21px;
    }
    .rect2 img , .rect3 img{
        width:19vw;
    }
    .recpic2 , .text{
        margin-right: 66px;
        margin-left: 30px;
    }
    .rect2, .text2{
        margin-left: 70px;
    }
}
@media (max-width:526px){
    .text h1 , .text2 h1{
        margin-top: -39px;
        font-size: 15px;
    }
    .text p , .text2 p{
        margin-top: -65px;
        font-size: 8px;
        line-height: 19px;
    }
    .rect2 img , .rect3 img{
        width:19vw;
    }
    .recpic2 , .text{
        margin-right: 46px;
        margin-left: 30px;
    }
    .rect2, .text2{
        margin-left: 50px;
    }
}
@media (max-width:455px){
    .text h1 , .text2 h1{
        margin-top: -39px;
        font-size: 12px;
    }
    .text p , .text2 p{
        margin-top: -65px;
        font-size: 6px;
        line-height: 15px;
    }
    .rect2 img , .rect3 img{
        width:19vw;
    }
    .recpic2 , .text{
        margin-right: 16px;
        margin-left: 20px;
    }
    .rect2, .text2{
        margin-left: 40px;
    }
    .text , .text2{
        padding: 0px 4px 0px 4px;
    }
}
@media (max-width:355px){
    .text h1 , .text2 h1{
        font-size: 12px;
    }
    .text p , .text2 p{
        font-size: 6px;
        line-height: 15px;
    }
    .rect2 img , .rect3 img{
        width:20vw;
    }
    .recpic2 , .text{
        margin-right: -50px;
        margin-left: 20px;
    }
    .rect2, .text2{
        margin-left: 40px;
    }
    .text , .text2{
        padding: 0px 4px 0px 4px;
    }
}
@media (max-width:300px){
    .text h1 , .text2 h1{
        font-size: 12px;
    }
    .text p , .text2 p{
        font-size: 6px;
        line-height: 15px;
    }
    .rect2 img , .rect3 img{
        width:20vw;
    }
    .recpic2 , .text{
        margin-right: -100px;
        margin-left: 20px;
    }
    .rect2, .text2{
        margin-left: 40px;
    }
    .text , .text2{
        padding: 0px 4px 0px 4px;
    }
}
    