/*for values*/
.values{
    display: flex;
    flex-direction: row;
    
}

.values div img {
    transition: opacity 0.5s ease;
}
.img1 p, .img2 p, .img3 p{
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-size: 48px;
    line-height: 58.51px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    
}
.img1,.img2,.img3{
    border: 5px solid #16A2C5;
    border-radius: 12px;
}
.img1{
    margin-left: 120px;
    padding-left: 40px;
   padding-right: 40px;
}
.img2{
    margin-left: 80px;
    padding-left: 40px;
   padding-right: 40px;
}
.img3{
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 50px;
   padding-right: 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.img3 img{
    margin-left: 25px;
    width:200px;
    align-items: center;
}
.img3 p{
    margin-top:50px;
    margin-bottom: -25px;
}
.img2 p{
    margin-top:-3px;
    margin-bottom: 15px;
}
.img1 p{
    margin-top:10px;
    margin-bottom: -1px;
}
.titlev{
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-size: 48px;
    line-height: 58.51px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
.addedp{
    font-weight:normal;
    font-size: 32px;
    line-height: 39.01px;
    color:#FFFFFF;
    margin: 0;
}
.img1:hover,.img2:hover,.img3:hover {
    background-color: #16A2C5;
}
.values div.img1:hover h5.titlev, .values div.img2:hover h5.titlev , .values div.img3:hover h5.titlev {
    background-color: #16A2C5;
}
.values div.img1:hover h6.addedp, .values div.img2:hover h6.addedp , .values div.img3:hover h6.addedp {
    background-color: #16A2C5;
}
.values h5,
.values h6 {
  display: none;
}
.values div:hover h5,
.values div:hover h6 {
  display: block;
  margin-top: 10px;
}
.values div.img3:hover h5 {
  display: block;
  margin-top: -40px;
}
.values div:hover img,
.values div:hover p {
  display: none;
}
.values div.img1:hover , .values div.img2:hover , .values div.img3:hover {
    padding-left: 30px;
   padding-right: 30px;
}
