/*for values*/
.values{
    display: flex;
    flex-direction: row;  
    justify-content: space-evenly; 
}
.values div{
    width: 23vw;
}

.values div img {
    transition: opacity 0.5s ease;
}
.img1 p, .img2 p, .img3 p{
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
}
.img1,.img2,.img3{
    border: 4px solid #16A2C5;
    border-radius: 12px;
}
.img1{
    /* margin-left: 6vw; */
    padding-left: 40px;
   padding-right: 40px;
}
.img2{
    padding-left: 40px;
   padding-right: 40px;
}
.img3{
    /* margin-right: 5vw; */
    padding-left: 40px;
   padding-right: 40px;
   padding-bottom: 1vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.img3 img{
    margin-left: 2vw;
    width:13.1vw;
    align-items: center;
}
.img1 img, .img2 img{
    width:18vw;
}
.img3 p{
    margin-top:3vw;
    margin-bottom: -2vw;
}
/*.img2 p{
    margin-top:-1vw;
}*/
/*.img1 p{
    margin-top:1vw;
}*/
.titlev{
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
}
.addedp{
    font-weight:normal;
    font-size: 2vw;
    color:#FFFFFF;
}
.values div.img1:hover h5.titlev, .values div.img2:hover h5.titlev , .values div.img3:hover h5.titlev , .img1:hover,.img2:hover,.img3:hover , .values div.img1:hover h6.addedp, .values div.img2:hover h6.addedp , .values div.img3:hover h6.addedp {
    background-color: #16A2C5;
}
.values h5,
.values h6 {
  display: none;
}
.values div:hover h5,
.values div:hover h6 {
  display: block;
}
/* .values div.img3:hover h5 {
  display: block;
  margin-top: -6vw;
} */
.values div:hover img,
.values div:hover p {
  display: none;
}
.values div.img1:hover , .values div.img2:hover , .values div.img3:hover {
    padding-left: 40px;
   padding-right: 40px;
}
@media (max-width: 1365px){
    .values div.img3:hover h5 {
        display: block;
        margin-top: -3vw;
      }
}
@media (max-width: 1282px){
    .values div.img3:hover h5 {
        display: block;
        margin-top: -1vw;
      }
}
@media (max-width: 950px){
    .values div.img3:hover h5 {
        display: block;
        margin-top: -1vw;
      }

    .img1 , .img2 , .img3{
        padding-left: 30px;
       padding-right: 30px;
    }
}
@media (max-width: 970px){
    .values div.img3:hover h5 {
        display: block;
        margin-top: -1vw;
      }

    .img1 , .img2 , .img3{
        padding-left: 25px;
       padding-right: 25px;
    }
    .values div.img1:hover , .values div.img2:hover , .values div.img3:hover {
        padding-left: 25px;
       padding-right: 25px;
    }
}
@media (max-width: 560px){
    .values div.img3:hover h5 {
        display: block;
        margin-top: -1vw;
      }

    .img1 , .img2 , .img3{
        padding-left: 20px;
       padding-right: 20px;
    }
    .values div.img1:hover , .values div.img2:hover , .values div.img3:hover {
        padding-left: 20px;
       padding-right: 20px;
    }

    .img1,.img2,.img3{
        border: 3px solid #16A2C5;
        border-radius: 12px;
    }
}

@media (max-width: 400px){
    .values div.img3:hover h5 {
        display: block;
        margin-top: -1vw;
      }
 
    .img1 , .img2 , .img3{
        padding-left: 15px;
       padding-right: 15px;
    }
    .values div.img1:hover , .values div.img2:hover , .values div.img3:hover {
        padding-left: 15px;
       padding-right: 15px;
    }

    .img1,.img2,.img3{
        border: 3px solid #16A2C5;
        border-radius: 12px;
    }
}
@media (max-width: 351px){
    .values div.img3:hover h5 {
        display: block;
        margin-top: -1vw;
      }

    .img1 , .img2 , .img3{
        padding-left: 15px;
       padding-right: 15px;
    }
    .values div.img1:hover , .values div.img2:hover , .values div.img3:hover {
        padding-left: 15px;
       padding-right: 15px;
    }

    .img1,.img2,.img3{
        border: 2.5px solid #16A2C5;
        border-radius: 12px;
    }
}








