/*part one*/

.topp img{
    width : 100%;
    position: relative;
    background-size:cover;
    align-items: center;
    justify-content: center;
    background-position: center center;
    /*background-size:contain;*/
}
.recapropos{
    display: flex;
    justify-content: center;
    margin-top: -14vw;
    background-color: transparent;
}
.bg1{
    position: relative;
    background-size:contain;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: transparent;
    
}
.recapropos h1 , .recapropos p{
    position: absolute;
    color:  #FFFFFF;
    background-color: transparent;
    z-index: 1; 
}
.recapropos h1{
     right:64%;
     font-size: 70px;
     Line-height: 85.33px;
     top : 95%;
}
.line{
    border-top: 7px solid #011E4A;
    position: absolute;
    background-color: transparent;
    z-index: 1;
    width: 23%; 
    top: 108%; 
    right: 63%; 
}

.recapropos p{
    right:16%;
    left:14%;
    top:113%;
    font-size: 35px;
    line-height: 43.88px;
    
}
