
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: #011E4A;
    margin: 0;
    font-family: "Montserrat";
    color: white;
}
.Aboutdivpic {
    width: 100%;
    max-width: 100vw;
    height: 70vh;
    overflow: hidden;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    background: url(./../../Assets/e9a34ff59039d046844b58cf3e6ef1a0.jpg) fixed center;
    background-size: cover; 
    
}

.Aboutbox h1, .Aboutbox p{
    color: #FFFFFF!important;

}

.Aboutbox h1 {
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    padding-bottom: 10px; 
    display: inline-block; 
}

.Aboutbox h1::after {
    content: "";
    display: block;
    background-color: #011E4A;
    width: 100%; 
    height: 4px;
    margin-top: 5px; 
}

.Aboutdivpic div{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#011e4a87, #011e4ade);
}
.Aboutlogo{
    width: auto;
    height: 35vh;
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}
.Aboutflex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    margin: 0;
    padding: 0;
    margin-top: -10vh;
    gap:10vh;
    overflow-x: hidden;
    padding-bottom: 1vw;
}
.Aboutbox{
    z-index: 2;
    background-color: #16A2C5;
    width: 80vw;
    padding: 1vh;
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
    
}

.Aboutbox p{
font-size: 1.2rem;}
@media(max-width:1045px){
    
    .Aboutbox p{
        font-size: 1rem;}
}

@media(max-width:700px){
    
    .Aboutlogo{
        height: 20vh;
        margin-top: -5vh;

        
    }
    .Aboutdivpic div{
        width: 100%;
        height:50vh;
    }
    .Aboutdivpic {
        background-size: cover 500px;
        background-repeat: no-repeat;
        height: 50vh;
    }

    .Aboutbox{
        padding-bottom: 1%;
        width: 90vw;
        
    }
    .Aboutflex{

        margin-top: -15vh;
        
    }
      
    
}

@media(max-width:600px){
    .Aboutlogo{
        height: 23vh;
    }
    .Aboutbox h1 {
        font-size: 1.5rem;
    }
}

@media(max-width:400px){
    .Aboutbox p{
        font-size: 0.8rem;}

        .Aboutbox{
            width: 90%;
            padding: 1vh;
            padding-left: 5%;
            padding-right: 5%;
            padding-top: 2vw;
            padding-bottom: 1%;

            
        }
        .Aboutlogo{
            height: 20vh;
        }
        .Aboutbox h1 {
            font-size: 1.3rem;
        }
}
@media(max-width:320px){
        .Aboutbox h1 {
            font-size: 1.2rem;
        }
}